.footer {
  background: linear-gradient(135deg, #020b2d, #5e81e3);

  color: #ffffff;
  padding: 70px 8% 40px;
}

/* TOP AREA */
.footer-top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.footer-logo {
  width: 140px;
  margin-bottom: 20px;
}

.footer-col h4 {
  font-size: 18px;
  margin-bottom: 15px;
}

.footer-col p {
  font-size: 14px;
  color: #cfd6ff;
  line-height: 1.7;
  margin-bottom: 12px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 12px;
}

.footer-col ul li a {
  color: #cfd6ff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-col ul li a:hover {
  color: #4da6ff;
  padding-left: 5px;
}

/* DIVIDER */
.footer-divider {
  margin: 50px 0 30px;
  height: 1px;
  background: rgba(255,255,255,0.2);
}

/* BOTTOM */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* SOCIAL */
.social-icons a {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-right: 10px;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #4da6ff;
  border-color: #4da6ff;
}

/* CENTER */
.footer-center {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.footer-center img {
  width: 80px;
}

.footer-center a {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
}

.footer-center a:hover {
  color: #4da6ff;
}

/* RIGHT */
.footer-right {
  font-size: 14px;
  color: #cfd6ff;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-top {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }
}
