/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  margin-left: 15px;
  cursor: pointer;
}

.hamburger span {
  width: 26px;
  height: 3px;
  background: #fff;
  transition: 0.3s;
}

.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px,5px);
}
.hamburger.open span:nth-child(2) {
  opacity: 0;
}
.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(6px,-6px);
}

/* MOBILE MENU */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -260px;
  width: 260px;
  height: 100vh;
  background: #0f0f0f;
  padding: 90px 25px;
  transition: 0.4s ease;
  z-index: 999;
}

.mobileMenu.show {
  right: 0;
}

.mobileMenu p {
  color: white;
  font-size: 16px;
  margin-bottom: 22px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .navLinks {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
